/*	
	这是韩派的首页
*/
[v-cloak] {
	display: none;
}
#navbar {
	display: none !important;
}
html{
	background: rgba(20, 44, 59, .8);
}
body {
	background: url("../../images/indexbg.png") no-repeat !important;
	background-size: 100%;
	font-size: .7rem !important;
	overflow: hidden !important;
}
.top {
	height: 54vh;
}
.bottom {
	height: 46vh;
}
#noticeDiv>span {
	background: #fff !important;
    color: #000 !important;
}
.circlepar{
	position: relative;
	width: 80vw;
	height: 80vw;
	max-height: 40vh;
	max-width: 40vh;
	/*border-radius: 50%;*/
	box-sizing: border-box;
	margin: 10vmin auto 0;
	transform: rotate(-135deg);
}
.circlepar li{
	width: 1px;
	height: 7vmin;
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 8vmin;
	margin: -20px 0 0 -20px;
	/*border: 1px solid #eee;*/
	background: #fff;
	border-radius: 30px;
	box-sizing: border-box;
	list-style: none;
	transition: .01s linear;
	transform-origin: 20px 19vh;
}
.zh-circle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.round {
	animation: gogo 1s linear infinite;
}
@keyframes gogo {
	0% {
		width: 3px;
		opacity: 1;
		background: palevioletred;
	}
	10% {
		width: 3px;
		/* opacity: .8; */
		background: rgb(216, 112, 211);
	}
	20% {
		width: 3px;
		/* opacity: .8; */
		background: rgb(166, 112, 216);
	}
	40% {
		width: 3px;
		/* opacity: .6; */
		background: rgb(112, 157, 216);
	}
	60% {
		width: 2px;
		/* opacity: .4; */
		background: rgb(112, 216, 202);
	}
	80% {
		width: 2px;
		background: rgb(176, 216, 112);
	}
	90%{
		width: 2px;
		background: #f1f1f1;
	}
	100%{
		opacity: .8;
		background: #eee;
	}
}
.top .containTxt {
	width: 100%;
	height: 60%;
	/* padding-right: 5%;
	padding-top: 5%; */
}
/*状态显示*/
.allStatus {
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
	color: rgb(40,191,251);
}
.allStatus>div>p>i {
	font-size: 3rem;
	color: rgb(40,191,251);
}
.icon-leaking {
	font-size: 2rem !important;
}
/*原水值，纯水值*/
.containTxt {
	left: 50%;
	color: #fff;
	transform: rotate(135deg) translate(50%, 30%);
}
.waterval {
	width: 56%;
	height: 50%;
	position: relative;
	left: 50%;
	margin-left: -27%;
}
.waterval:nth-of-type(1) {
	padding: 1vh 0;
	border-bottom: 1px solid #eee;
	margin-bottom: 1vh;
}
/*纯水值，原水值*/
.waterval>b {
	position: relative;
}
.waterval #rawtdsVal>a {
	font-size: 2rem;
	font-weight: 400;
	color: rgb(242,162,22);
}
.waterval #puretdsVal>a {
	font-size: 1.6rem;
	font-weight: 400;
	color: rgb(242,162,22);
}
.flow_day {
	height: 8vh;
	position: relative;
	line-height: 8vh;
	background: rgba(20, 44, 59, .8);
	font-size: .6rem;
}
.flow_day::after {
	content: '';
	display: block;
	clear: both;
}
.textLeft b,
.textcenter b,
.textRight b {
	margin: 0 4px;
	font-size: .8rem;
	font-weight: 400;
}
.bottom .flow_day>div {
	width: 33%;
	height: auto;
	position: relative;
	top: 0;
	left: 0;
	float: left;
	color: rgb(255,255,255);
}
.bottom .flow_day>div.textRight {
	float: right;
}
.bottom ul {
	width: 90%;
	height: 38%;
	position: relative;
	left: 50%;
	margin-left: -45%;
}
.bottom ul:nth-of-type(1) {
	border-bottom: 1px solid rgba(220,220,220,.5);
}
.bottom ul::before {
	content: '';
	width: 1px;
	height: 70%;
	position: absolute;
	left: 33.33%;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(220,220,220,.5);
	z-index: 99;
}
.bottom ul::after {
	content: '';
	width: 1px;
	height: 70%;
	position: absolute;
	left: 66.66%;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(220,220,220,.5);
	visibility: visible;
	z-index: 99;
}
.bottom ul li a {
	display: inline-block;
	color: #ddd;
	line-height: 1.6;
}
/*底部图标颜色*/
.icon-lvxin1,
.icon-kaiguan,
.icon-chongxi1,
.icon-chongzhi1,
.icon-wode1,
.icon-chongzhi {
	color: #fff;
}